:root {
  --background: rgba(46, 198, 104, 0.85);
  --menuitem: rgba(26, 138, 84, 0.9);
}
.content {
  height: 200vh;
  /*background-color: rgba(33, 33, 33, 0.85);*/
  background-blend-mode: multiply;
  background-size: cover;
  background-image: url(assets/background-hires.png);
  overflow: auto;
  place-items: center;
}
.menu {
  float: left;
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: large;
}
.menu a {
  background-color: var(--menuitem);
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: #e5e5e5;
}
.main {
  float: left;
  width: 60%;
  margin-top: 10px;
  padding: 0 20px;
  font-size: larger;
  color: #e5e5e5;
  background-color: rgba(33, 33, 33, 0.85);
}
.left {
  float: left;
  width: 20%;
  text-align: center;
  font-size: large;
}
.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: large;
  text-align: center;
}
.mainHeader {
  padding: 10px;
  text-align: center;
  font-size: xx-large;
}
.mainFooter {
  background-color: #e5e5e5;
  text-align: center;
  padding: 10px;
  margin-top: 7px;
  font-size: medium;
}
html {
  scroll-behavior: smooth;
}
.body {
  font-family: "Times New Roman", Times, serif;
  color: #aaaaaa;
}
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 250ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 50ms ease-in-out;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 2em;
  height: 100%;
  display: flex;
  align-items: center;
}

.menuimage {
  width: "50";
  height: "50";
}

nav a:hover {
  color: #000;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 100ms ease-in-out 100ms;
}

@media screen and (min-width: 620px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(620px, 3fr);
  }

  nav {
    all: unset;
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.5em;
    left: 0;
    right: 0;
  }
}
